@page "/admin/appointregionalhead"
@using SOS.OrderTracking.Web.Client.Services.Admin
@using SOS.OrderTracking.Web.Client.Components
@using Radzen.Blazor
@inherits APICrudBaseV2<RegionalHeadViewModel, RegionalHeadListViewModel, int, AppointHeadsAdditionalValueViewModel, RegionalHeadService>
@attribute [Authorize(Roles = "SOS-Admin")]

<SubHeader Heading="Regional Heads" RowsCount="TotalRows" SearchString="SearchString">
    <ChildContent>
        <div class="d-flex align-items-center">
            <a @onclick="() => OnItemClicked(0)" class="btn btn-light-warning font-weight-bold ml-2">
                Allocate Regional Head
            </a>
        </div>
    </ChildContent>
</SubHeader>
<FluentCard IsBusy="@IsTableBusy">
    <Notification Content="@Error" Type="NotificationCssClass.Danger"></Notification>
    <table class="items-table">
        <thead>
            <tr>
                <td>Emp Code</td>
                <td>Name</td>
                <td>Designation</td>
                <td>Region Name</td>
                <td>Start Date</td>
                <td>End Date</td>
            </tr>
        </thead>
        <tbody>
            @if (Items != null)
            {
                @foreach (var member in Items.OrderByDescending(x => x.IsActive).ThenBy(x => x.StartDate))
                {
                    <tr>
                        <td>
                            <small class="btn btn-xs btn-pill" style="color:@(member.IsActive?"#3493cf": "#eb1b1b");border-color:@(member.IsActive?"#3493cf": "#eb1b1b");">
                                @member.EmployeeCode
                            </small>
                        </td>

                        <td>
                            @member.EmployeeName
                        </td>
                        <td>
                            Regional Head
                        </td>
                        <td>
                            @member.RegionName
                        </td>
                        <td>
                            @member.StartDate.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @member.EndDate?.ToString("dd-MM-yyyy")
                        </td>
                        <td style="padding:2px; text-align:right">
                            <a class="btn btn-icon btn-light-danger btn-sm mr-2" style="cursor:pointer;" @onclick="() => OnItemClicked(member.Id)">
                                <i class="flaticon2-pen"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <EditForm Model="BaseIndexModel.CurrentIndex">
        <PaginationStrip @bind-Value="BaseIndexModel.CurrentIndex" TotalPages="TotalPages" TotalRows="TotalRows"></PaginationStrip>
    </EditForm>
</FluentCard>

<InputForm SelectedItem="SelectedItem"
           IsBusy="IsModalBusy"
           Heading=" Regional Head Form"
           OnCancel="() => { SelectedItem = null; ValidationError = null;}"
           Error="@ValidationError"
           OnValidSubmit="ShowConformation">
    @if (SelectedItem.Id == 0)
    {
        <div class="form-group">
            <label>Region</label>
            <RadzenDropDown AllowClear="true" TValue="int" class="form-control"
                            Data="@Regions" Placeholder="Select a Region" AllowFiltering="true"
                            TextProperty="Text" ValueProperty="IntValue" @bind-Value="SelectedItem.RegionId" />
            <ValidationMessage For="() => SelectedItem.RegionId"></ValidationMessage>
        </div>
        <div class="form-group">
            <label>Employee</label>
            <RadzenDropDown AllowClear="true" TValue="int" class="form-control"
                            Data="@Employees" Placeholder="Select an Employee" AllowFiltering="true"
                            TextProperty="Text" ValueProperty="IntValue" @bind-Value="SelectedItem.EmployeeId" />
            <ValidationMessage For="() => SelectedItem.EmployeeId"></ValidationMessage>
        </div>
        <div class="form-group">
            <label>Start Date</label>
            <RadzenDatePicker TValue="DateTime?" @bind-Value="@SelectedItem.StartDate" DateFormat="dd-MM-yyyy" Style="width:100%;box-shadow:none" />
            <ValidationMessage For="() => SelectedItem.StartDate"></ValidationMessage>
        </div>
    }
    else
    {

        <div class="form-group">
            <label>Region:</label><br />
            <label class="form-control">@SelectedItem.RegionName</label>
        </div>
        <div class="form-group">
            <label>Name:</label><br />
            <label class="form-control">@SelectedItem.EmployeeName</label>
        </div>
        <div class="form-group">
            <label>Start Date:</label><br />
            <label class="form-control">@SelectedItem.StartDate</label>
        </div>

    }

    <div class="form-group">
        <label>End Date</label>
        <RadzenDatePicker TValue="DateTime?" @bind-Value="@SelectedItem.EndDate" DateFormat="dd-MM-yyyy" Style="width:100%;box-shadow:none" />
        <ValidationMessage For="() => SelectedItem.EndDate"></ValidationMessage>
    </div>
</InputForm>

<InputForm SelectedItem="RelationshipDetailViewModel"
           IsBusy="IsModalBusy"
           Heading=" Relationship Detail Form"
           OnCancel="() => { RelationshipDetailViewModel = null; ValidationError = null;}"
           Error="@ValidationError"
           OnValidSubmit="async()=> {  RelationshipDetailViewModel = null; await OnFormSubmit(); }">
    <RelationshipDetailComponent Model="RelationshipDetailViewModel"></RelationshipDetailComponent>
</InputForm>
