
@using SOS.OrderTracking.Web.Shared
@using SOS.OrderTracking.Web.Shared.ViewModels.IntraPartyDistance
@using SOS.OrderTracking.Web.Client.Services.Customers
@using SOS.OrderTracking.Web.Client.Components
@using SOS.OrderTracking.Web.Shared.Enums
@inherits APICrudBaseV2<DistanceHistoryFormViewModel, DistanceHistoryListViewModel, int, DistanceHistoryAdditionalValueViewModel, DistanceHistoryService>
@attribute [Authorize(Roles = "SOS-Admin, SOS-Regional-Admin, SOS-SubRegional-Admin")]

<SubHeader Heading="Distance Between Branches" RowsCount="TotalRows" HideSearch="true">
    <ChildContent>
        @*<div class="d-flex align-items-center">
            <a @onclick="() => OnItemClicked(0)" class="btn btn-light-warning font-weight-bold ml-2">
                Add Distance
            </a>
        </div>*@
        <a @onclick="()=> PubSub.Hub.Default.Publish<DistanceHistory>(null)" class="btn btn-secondary font-weight-bold ml-2">
            <span><i class="fa fa-times"></i></span>
        </a>
    </ChildContent>
</SubHeader>
<FluentCard IsBusy="@IsTableBusy">
    <div class="row">
        <div class="col-6">
            <h3 class="font-weight-bold text-primary">Distance History </h3>
        </div>
    </div>
    <EditForm Model="this">

    </EditForm>
    <Notification Content="@Error" Type="NotificationCssClass.Danger"></Notification>
    @*<EditForm Model="@this">

            <div class="row">
                <div class="ml-5 col-3 mt-5">
                    <Select2 @bind-Value="roleTypeId" Datasource="RoleTypes" Id="__rolestype" />
                </div>
            </div>
        </EditForm>*@

    <table class="items-table">
        <thead>
            <tr>

                <th>Distance(km)</th>
                <th>Distance Status</th>
                <th>Distance Source</th>
                <th>Created By</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            @if (Items == null)
            {
                <tr>
                    <td colspan="3"> <p><em>Loading...</em></p></td>
                </tr>
            }
            else
            {
                @foreach (var item in Items)
                {
                    <tr>

                        <td>@item.Distance</td>
                        <td>@item.DistanceStatus</td>
                        <td>@item.DistanceSource</td>
                        <td>@item.CreatedBy</td>
                        <td>@item.CreatedAt.ToString("dd-MM-yyyy HH:mm")</td>
                        @*<td style="padding:2px; text-align:right">
                                <a class="btn btn-icon btn-light-danger btn-sm mr-2" style="cursor:pointer;" @onclick="() => OnItemClicked(item.FromPartyId)">
                                    <i class="flaticon2-pen"></i>
                                </a>
                            </td>*@

                    </tr>
                }
            }

        </tbody>

    </table>

    <EditForm Model="BaseIndexModel.CurrentIndex">
        <PaginationStrip @bind-Value="BaseIndexModel.CurrentIndex" TotalPages="TotalPages" TotalRows="TotalRows"></PaginationStrip>
    </EditForm>
</FluentCard>
