@using SOS.OrderTracking.Web.Shared.ViewModels.WorkOrder
<div class="tab-pane fade" id="denomination_@Item.Id" role="tabpanel" aria-labelledby="denomination_@Item.Id">

    <div class="">
        <div class="table table-light table-light-success">
            @{ int? factor = Item.Denomination?.Factor; }
            <div>
                @if (Item.Denomination?.Currency5000x.GetValueOrDefault() > 0)
                {
                    <div class="bg-white row">
                        <div class="col-4" style=" padding-right: 0px;">@Item.Denomination.Currency5000x.GetValueOrDefault().ToString("N0") @Item.Denomination.Type</div>
                        <div class="col-3" style=" padding-right: 0px;padding-left: 0px;">x @Item.CurrencySymbol.ToString(). 5,000</div>
                        <div class="font-weight-bold col-5" style="padding-left: 0px;">= @Item.CurrencySymbol.ToString(), @((@Item.Denomination?.Currency5000x * factor * 5000).GetValueOrDefault().ToString("N0"))</div>
                    </div>
                }
                @if (Item.Denomination?.Currency1000x.GetValueOrDefault() > 0)
                {
                    <div class="bg-gray-100 row">
                        <div class="col-4" style=" padding-right: 0px;">@Item.Denomination?.Currency1000x @Item.Denomination.Type</div>
                        <div class="col-3" style=" padding-right: 0px; padding-left: 0px;">x @Item.CurrencySymbol.ToString(). 1,000</div>
                        <div class="font-weight-bold col-5" style=" padding-left: 0px;">= @Item.CurrencySymbol.ToString(), @((@Item.Denomination?.Currency1000x * factor * 1000).GetValueOrDefault().ToString("N0"))</div>
                    </div>
                }
                @if (Item.Denomination?.Currency500x.GetValueOrDefault() > 0)
                {
                    <div class="bg-white row">
                        <div class="col-4" style=" padding-right: 0px;">@Item.Denomination?.Currency500x @Item.Denomination.Type</div>
                        <div class="col-3" style=" padding-right: 0px; padding-left: 0px;">x @Item.CurrencySymbol.ToString(). 500</div>
                        <div class="col-5" style="padding-left: 0px;">= @Item.CurrencySymbol.ToString(), @((@Item.Denomination?.Currency500x * factor * 500).GetValueOrDefault().ToString("N0"))</div>

                    </div>
                }
                @if (Item.Denomination?.Currency100x.GetValueOrDefault() > 0)
                {
                    <div class="bg-gray-100 row">
                        <div class="col-4" style=" padding-right: 0px;">@Item.Denomination?.Currency100x @Item.Denomination.Type</div>
                        <div class="col-3" style=" padding-right: 0px; padding-left: 0px;">x @Item.CurrencySymbol.ToString(). 100</div>
                        <div class="font-weight-bold col-5" style="padding-left: 0px;">= @Item.CurrencySymbol.ToString(), @((@Item.Denomination?.Currency100x * factor * 100).GetValueOrDefault().ToString("N0"))</div>
                    </div>
                }
                @if (Item.Denomination?.Currency75x.GetValueOrDefault() > 0)
                {
                    <div class="bg-gray-100 row">
                        <div class="col-4" style=" padding-right: 0px;">@Item.Denomination?.Currency75x @Item.Denomination.Type</div>
                        <div class="col-3" style=" padding-right: 0px; padding-left: 0px;">x @Item.CurrencySymbol.ToString(). 75</div>
                        <div class="font-weight-bold col-5" style="padding-left: 0px;">= @Item.CurrencySymbol.ToString(), @((@Item.Denomination?.Currency75x * factor * 75).GetValueOrDefault().ToString("N0"))</div>
                    </div>
                }
                @if (Item.Denomination?.Currency50x.GetValueOrDefault() > 0)
                {
                    <div class="bg-white row">
                        <div class="col-4" style=" padding-right: 0px;">@Item.Denomination?.Currency50x @Item.Denomination.Type</div>
                        <div class="col-3" style=" padding-right: 0px; padding-left: 0px;">x @Item.CurrencySymbol.ToString(). 50</div>
                        <div class="col-5" style=" padding-left: 0px;">= @Item.CurrencySymbol.ToString(), @((@Item.Denomination?.Currency50x * factor * 50).GetValueOrDefault().ToString("N0"))</div>
                    </div>
                }
                @if (Item.Denomination?.Currency20x.GetValueOrDefault() > 0)
                {
                    <div class="bg-gray-100 row">
                        <div class="col-4" style=" padding-right: 0px;">@Item.Denomination?.Currency20x @Item.Denomination.Type</div>
                        <div class="col-3" style=" padding-right: 0px; padding-left: 0px;">x @Item.CurrencySymbol.ToString().20</div>
                        <div class="font-weight-bold col-5" style=" padding-left: 0px;">= @Item.CurrencySymbol.ToString(), @((@Item.Denomination?.Currency20x * factor * 20).GetValueOrDefault().ToString("N0"))</div>
                    </div>
                }
                @if (Item.Denomination?.Currency10x.GetValueOrDefault() > 0)
                {
                    <div class="bg-white row">
                        <div class="col-4" style=" padding-right: 0px;">@Item.Denomination?.Currency10x @Item.Denomination.Type</div>
                        <div class="col-3" style=" padding-right: 0px; padding-left: 0px;">x @Item.CurrencySymbol.ToString().10</div>
                        <div class="font-weight-bold col-5" style=" padding-left: 0px;">= @Item.CurrencySymbol.ToString(), @((@Item.Denomination?.Currency10x * factor * 10).GetValueOrDefault().ToString("N0"))</div>
                    </div>
                }

                @if (Item.Denomination?.Currency5x.GetValueOrDefault() > 0)
                {
                    <div class="bg-white row">
                        <div class="col-4" style=" padding-right: 0px;">@Item.Denomination?.Currency5x @Item.Denomination.Type</div>
                        <div class="col-3" style=" padding-right: 0px; padding-left: 0px;">x @Item.CurrencySymbol.ToString().5</div>
                        <div class="font-weight-bold col-5" style=" padding-left: 0px;">= @Item.CurrencySymbol.ToString(), @((@Item.Denomination?.Currency5x * factor * 5).GetValueOrDefault().ToString("N0"))</div>
                    </div>
                }
                @if (Item.Denomination?.Currency2x.GetValueOrDefault() > 0)
                {
                    <div class="bg-white row">
                        <div class="col-4" style=" padding-right: 0px;">@Item.Denomination?.Currency2x @Item.Denomination.Type</div>
                        <div class="col-3" style=" padding-right: 0px; padding-left: 0px;">x @Item.CurrencySymbol.ToString().2</div>
                        <div class="font-weight-bold col-5" style=" padding-left: 0px;">= @Item.CurrencySymbol.ToString(), @((@Item.Denomination?.Currency2x * factor * 2).GetValueOrDefault().ToString("N0"))</div>
                    </div>
                }
                @if (Item.Denomination?.Currency1x.GetValueOrDefault() > 0)
                {
                    <div class="bg-white row">
                        <div class="col-4" style=" padding-right: 0px;">@Item.Denomination?.Currency1x @Item.Denomination.Type</div>
                        <div class="col-3" style=" padding-right: 0px; padding-left: 0px;">x @Item.CurrencySymbol.ToString().1</div>
                        <div class="font-weight-bold col-5" style=" padding-left: 0px;">= @Item.CurrencySymbol.ToString(), @((@Item.Denomination?.Currency1x * factor * 1).GetValueOrDefault().ToString("N0"))</div>
                    </div>
                }
            </div>
        </div>
    </div>
    <hr class="st1">
    <div class="d-flex flex-column text-md-right">
        <span class="font-size-h7 font-weight-boldest text-primary mb-0">
            <span class="font-size-xs text-dark-50 font-weight-bolder mb-1 ml-3">TOTAL: &nbsp;</span>@Item.CurrencySymbol.ToString(). @Item.Amount.ToString("N0")<br />
        </span>
    </div>
    <div class="d-flex flex-column text-md-right">
        <span class="font-size-h7 font-weight-boldest mb-0">
            @*@{ amountInWords = CalculateAmountInWords(Item.Amount);}*@
            <span class="font-size-xs text-dark-50 font-weight-bolder mb-1 ml-3"></span>@AmountInWords
        </span>
    </div>
</div>

@code {
    [Parameter]
    public ConsignmentListViewModel Item { get; set; }

    [Parameter]
    public string AmountInWords { get; set; } 
}
