@using SOS.OrderTracking.Web.Shared.ViewModels.WorkOrder
<div class="tab-pane fade" id="schedule_@Item.Id" role="tabpanel" aria-labelledby="schedule_@Item.Id">

    <div class="">
        <div class="table table-light table-light-success">
            <div>
                @if (Item.ScheduleViewModel?.MondayScheduleExist ?? false)
                {
                    <div class="bg-white row">
                        <div class="col-4" style=" padding-right: 0px;">Monday</div>
                        <div class="col-3" style=" padding-right: 0px; padding-left: 0px;"> ... </div>
                        <div class="font-weight-bold col-5" style=" padding-left: 0px;">@(Item.ScheduleViewModel?.MondayTime == null ? "--:--" : Item.ScheduleViewModel?.MondayTime.GetValueOrDefault().ToString("HH:mm"))</div>

                    </div>
                }
                @if (Item.ScheduleViewModel?.TuesdayScheduleExist ?? false)
                {
                    <div class="bg-gray-100 row">
                        <div class="col-4" style=" padding-right: 0px;">Tuesday</div>
                        <div class="col-3" style=" padding-right: 0px; padding-left: 0px;"> ... </div>
                        <div class="font-weight-bold col-5" style=" padding-left: 0px;">@(Item.ScheduleViewModel?.TuesdayTime == null ? "--:--" : Item.ScheduleViewModel?.TuesdayTime.GetValueOrDefault().ToString("HH:mm"))</div>

                    </div>
                }
                @if (Item.ScheduleViewModel?.WednesdayScheduleExist ?? false)
                {
                    <div class="bg-white row">
                        <div class="col-4" style=" padding-right: 0px;">Wednesday</div>
                        <div class="col-3" style=" padding-right: 0px; padding-left: 0px;"> ... </div>
                        <div class="font-weight-bold col-5" style=" padding-left: 0px;">@(Item.ScheduleViewModel?.WednesdayTime == null ? "--:--" : Item.ScheduleViewModel?.WednesdayTime.GetValueOrDefault().ToString("HH:mm"))</div>

                    </div>
                }
                @if (Item.ScheduleViewModel?.ThursdayScheduleExist ?? false)
                {
                    <div class="bg-gray-100 row">
                        <div class="col-4" style=" padding-right: 0px;">Thursday</div>
                        <div class="col-3" style=" padding-right: 0px; padding-left: 0px;"> ... </div>
                        <div class="font-weight-bold col-5" style=" padding-left: 0px;">@(Item.ScheduleViewModel?.ThursdayTime == null ? "--:--" : Item.ScheduleViewModel?.ThursdayTime.GetValueOrDefault().ToString("HH:mm"))</div>

                    </div>
                }
                @if (Item.ScheduleViewModel?.FridayScheduleExist ?? false)
                {
                    <div class="bg-white row">
                        <div class="col-4" style=" padding-right: 0px;">Friday</div>
                        <div class="col-3" style=" padding-right: 0px; padding-left: 0px;"> ... </div>
                        <div class="font-weight-bold col-5" style=" padding-left: 0px;">@(Item.ScheduleViewModel?.FridayTime == null ? "--:--" : Item.ScheduleViewModel?.FridayTime.GetValueOrDefault().ToString("HH:mm"))</div>

                    </div>
                }
                @if (Item.ScheduleViewModel?.SaturdayScheduleExist ?? false)
                {
                    <div class="bg-gray-100 row">
                        <div class="col-4" style=" padding-right: 0px;">Saturday</div>
                        <div class="col-3" style=" padding-right: 0px; padding-left: 0px;"> ... </div>
                        <div class="font-weight-bold col-5" style=" padding-left: 0px;">@(Item.ScheduleViewModel?.SaturdayTime == null ? "--:--" : Item.ScheduleViewModel?.SaturdayTime.GetValueOrDefault().ToString("HH:mm"))</div>

                    </div>
                }
                @if (Item.ScheduleViewModel?.SundayScheduleExist ?? false)
                {
                    <div class="bg-white row">
                        <div class="col-4" style=" padding-right: 0px;">Sunday</div>
                        <div class="col-3" style=" padding-right: 0px; padding-left: 0px;"> ... </div>
                        <div class="font-weight-bold col-5" style=" padding-left: 0px;">@(Item.ScheduleViewModel?.SundayTime == null ? "--:--" : Item.ScheduleViewModel?.SundayTime.GetValueOrDefault().ToString("HH:mm"))</div>

                    </div>
                }
                @*<div class="bg-gray-100 row">
            <div class="col-4" style=" padding-right: 0px;">Thursday</div>
            <div class="col-3" style=" padding-right: 0px;padding-left: 0px;">
                <div class="checkbox-inline">
                    <label class="checkbox checkbox-lg checkbox-outline checkbox-success text-center ml-10  mb-8">
                        <input type="checkbox" @bind="Item.ThursdayScheduleExist" readonly class="h-20px w-20px" />
                        <span class="h-20px w-20px"></span>
                    </label>
                </div>
            </div>
            <div class="font-weight-bold col-5" style="padding-left: 0px;">
                <RadzenDatePicker TValue="DateTime?" @bind-Value="Item.ThursdayTime" ReadOnly="true" ShowTime="true" TimeOnly="true" DateFormat="HH:mm" />
            </div>
        </div>*@
            </div>
        </div>
    </div>
    <hr class="st1">
</div>
@code {
    [Parameter]
    public ShipmentScheduleListViewModel Item { get; set; }
}
