@page "/admin/vehicles"
@using SOS.OrderTracking.Web.Shared
@using SOS.OrderTracking.Web.Shared.ViewModels.Vehicles
@using SOS.OrderTracking.Web.Shared.ViewModels.UserRoles
@using SOS.OrderTracking.Web.Client.Components
@inject HttpClient Http
@using SOS.OrderTracking.Web.Client.Services.Admin 
@inherits APICrudBaseV2<VehiclesFormViewModel, VehiclesListViewModel, int,VehiclesAdditionalValueViewModel,VehicleService>
@attribute [Authorize(Roles = "SOS-Admin, SOS-Regional-Admin, SOS-SubRegional-Admin")]

<SubHeader Heading="Vehicles" RowsCount="TotalRows" SearchString="SearchString"></SubHeader>
<FluentCard IsBusy="@IsTableBusy">

    <Notification Content="@Error" Type="NotificationCssClass.Danger"></Notification>
    @*<EditForm Model="@this">

            <div class="row">
                <div class="ml-5 col-3 mt-5">
                    <Select2 @bind-Value="roleTypeId" Datasource="RoleTypes" Id="__rolestype" />
                </div>
            </div>
        </EditForm>*@

    <table class="items-table">
        <thead>
            <tr>
                <th>Vehicle Number</th>
                <th>Region</th>
                <th>SubRegion</th>
                <th>Station</th>
                <th>Crew/Vault</th>
            </tr>
        </thead>
        <tbody>
            @if (Items == null)
            {
                <tr>
                    <td colspan="3"> <p><em>Loading...</em></p></td>
                </tr>
            }
            else
            {
                @foreach (var item in Items)
                {
        <tr>

            <td>
                @item.VehicleDescription
            </td>
            <td>@item.Region</td>
            <td>@item.SubRegion</td>
            <td>@item.Station</td>
            <td>@item.CrewOrVaultName</td>
            @*<td style="padding:2px; text-align:right">
            <a class="btn btn-icon btn-sm mr-2">
                <i class="far fa-check-circle" style="color:@item.TickColor"></i>
            </a>
        </td>*@

        </tr>
                }
            }

        </tbody>

    </table>

    <EditForm Model="BaseIndexModel.CurrentIndex">
        <PaginationStrip @bind-Value="BaseIndexModel.CurrentIndex" TotalPages="TotalPages" TotalRows="TotalRows"></PaginationStrip>
    </EditForm>
</FluentCard>





