@page "/admin/bankSetting"

@using SOS.OrderTracking.Web.Client.Components
@using SOS.OrderTracking.Web.Client.Services.Admin
@using SOS.OrderTracking.Web.Shared.ViewModels.BankSetting
@using Radzen.Blazor

@inherits APICrudBaseV2<BankSettingFormViewModel, BankSettingListViewModel, int, BaseIndexModel, BankSettingService>
@attribute [Authorize(Roles = "SOS-Admin, SOS-Regional-Admin, SOS-SubRegional-Admin")]



<SubHeader Heading="Bank Settings" RowsCount="TotalRows">
    <ChildContent>
        @*<div class="d-flex align-items-center">
            <a @onclick="() => OnItemClicked(0)" class="btn btn-light-warning font-weight-bold ml-2">
               Add Setting
            </a>
        </div>*@
    </ChildContent>
</SubHeader>
<FluentCard IsBusy="@IsTableBusy">

    <Notification Content="@Error" Type="NotificationCssClass.Danger"></Notification>
    <table class="items-table">
        <thead>
            <tr>
                <th>Branch Code</th>
                <th>Branch Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Items is not null)
            {
                foreach (var item in Items)
                {
                    <tr>

                        <td>
                            @item.BankCode
                        </td>
                        <td>
                            @item.FormalName
                        </td>
                        <td style="padding:2px; text-align:right">
                            <a class="btn btn-icon btn-light-danger btn-sm mr-2" style="cursor:pointer;" @onclick="() => OnItemClicked(item.Id)">
                                <i class="flaticon2-pen"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <EditForm Model="BaseIndexModel.CurrentIndex">
        <PaginationStrip @bind-Value="BaseIndexModel.CurrentIndex" TotalPages="TotalPages" TotalRows="TotalRows"></PaginationStrip>
    </EditForm>
</FluentCard>



<InputForm SelectedItem="@SelectedItem"
           OnCancel="()=> SelectedItem = null"
           IsBusy="@IsModalBusy"
           Error="@ValidationError"
           OnValidSubmit="OnFormSubmit"
           Heading="Bank Form">

    <div class="form-group">
        <div class="form-group row">
            <label class="col-4 col-form-label">Skip QR-Code on Collection</label>
            <div class="col-6">
                <span class="switch switch-outline switch-icon switch-success">
                    <label>
                        <input type="checkbox" @bind="SelectedItem.SkipQRCodeOnCollection" name="select">
                        <span></span>
                    </label>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group row">
            <label class="col-4 col-form-label">Skip QR-Code on Delivery</label>
            <div class="col-6">
                <span class="switch switch-outline switch-icon switch-success">
                    <label>
                        <input type="checkbox" @bind="SelectedItem.SkipQRCodeOnDelivery" name="select">
                        <span></span>
                    </label>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group row">
            <label class="col-4 col-form-label">Manual Shipment No</label>
            <div class="col-6">
                <span class="switch switch-outline switch-icon switch-success">
                    <label>
                        <input type="checkbox" @bind="SelectedItem.EnableManualShipmentNo" name="select">
                        <span></span>
                    </label>
                </span>
            </div>
        </div>
    </div>

</InputForm>