@page "/admin/branches"


@using SOS.OrderTracking.Web.Client.Components
@using SOS.OrderTracking.Web.Client.Services.Admin
@using SOS.OrderTracking.Web.Shared.ViewModels.Branches
@using Radzen.Blazor

@inherits APICrudBaseV2<BranchesFormViewModel, BranchesListViewModel, int, BranchesAdditionalValueViewModel, BranchService>
@attribute [Authorize(Roles = "SOS-Admin, SOS-Regional-Admin, SOS-SubRegional-Admin")]


<SubHeader Heading="Manage Branches" RowsCount="@TotalRows" HideSearch="true">
    @*<a class="btn btn-light-warning font-weight-bold ml-2">
            Create new Branch
        </a>*@
</SubHeader>
<style>
    .bg-primary-o-20 {
        background-color: rgba(250,250,250, 0.5) !important;
    }

    .items-table tbody tr:nth-child(even) {
        background: whitesmoke;
        cursor: pointer;
    }

    .items-table tbody tr:nth-child(odd) {
        background: #FFF;
        cursor: pointer;
    }

    .items-table thead tr th {
        border-bottom: solid 1px #a09f9f !important;
    }

    .border-right-dotted {
        border-right: 1px #e56464 dotted;
    }
</style>
<div class="row">
    <div class="col-@(BranchId == 0 ? 12 : 6) border-right-dotted">
        <FluentCard IsBusy="@IsTableBusy">
            <EditForm Model="this">
                <div class="row">
                    <div class="col-3">
                        <label>Customer</label>
                        <Select2 Datasource="MainCustomers" @bind-Value="MainCustomerId" Id="_customer"></Select2>
                    </div>
                </div>
            </EditForm>
            <Notification Content="@Error" Type="NotificationCssClass.Danger"></Notification>
            <table class="items-table">
                <thead>
                    <tr>
                        <th>Branch Code</th>
                        <th>Branch Name</th>
                        <th></th>
                        @if (BranchId == 0)
                        {
                            <th>Region</th>
                            <th>Sub Region</th>
                            <th>Station</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Items is not null)
                    {
                        foreach (var item in Items)
                        {
                            <tr>
                                <td @onclick="() => SetParametersOfBranch(item)">
                                    @item.BranchCode
                                </td>
                                <td @onclick="() => SetParametersOfBranch(item)">
                                    @item.BranchName
                                </td>
                                <td>
                                    @if (item.DedicatedVehicleCapacity > 0)
                                    {
                                        var colour = "";
                                        @for (int i = 0; i < item.DedicatedVehicleCapacity; i++)
                                        {
                                            colour = i < item.ActiveVehiclesCount ? "#42b542" : "#F64E60";

                                            <span style="font-size: 0.8rem; color:@colour" class="fas fa-circle mr-1"></span>
                                        }
                                    }
                                    else
                                    {
                                        <span style="color: #d4951c; border: 1px #d4951c solid; padding: 2px 8px;border-radius: 20px;">Vacant</span>
                                    }
                                </td>
                                @if (BranchId == 0)
                                {
                                    <td @onclick="() => SetParametersOfBranch(item)">@item.RegionName</td>
                                    <td @onclick="() => SetParametersOfBranch(item)">@item.SubRegionName</td>
                                    <td @onclick="() => SetParametersOfBranch(item)">@(item.StationName is null ? "N/A" : item.StationName)</td>
                                    <td style="padding:2px; text-align:right">
                                        <a class="btn btn-icon btn-light-danger btn-sm mr-2" style="cursor:pointer;" @onclick="() => OnItemClicked(item.Id)">
                                            <i class="flaticon2-pen"></i>
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <EditForm Model="BaseIndexModel.CurrentIndex">
                <PaginationStrip @bind-Value="BaseIndexModel.CurrentIndex" TotalPages="TotalPages" TotalRows="TotalRows"></PaginationStrip>
            </EditForm>
        </FluentCard>
    </div>
    @if (BranchId != 0)
    {
        <div class="col-6">
            <DedicatedVehicles PartyId="@PartyId" Branch_Code="@Branch_Code" Branch_Name="@Branch_Name"></DedicatedVehicles>
        </div>
    }
</div>

<InputForm SelectedItem="@SelectedItem"
           OnCancel="()=> SelectedItem = null"
           IsBusy="@IsModalBusy"
           Error="@ValidationError"
           OnValidSubmit="OnFormSubmit"
           Heading="Branch Form">

    <div class="form-group">
        <label>Branch Name</label>
        <label class="form-control">@SelectedItem.BranchName</label>
    </div>
    <div class="form-group">
        <label>Dedicated Vehicle Capacity</label>
        <input type="number" @bind="SelectedItem.DedicatedVehicleCapacity" class="form-control" />
        <ValidationMessage For="() => SelectedItem.DedicatedVehicleCapacity"></ValidationMessage>
    </div>
    <div class="form-group">
        <label>Start Date</label>
        <RadzenDatePicker TValue="DateTime?" @bind-Value="@SelectedItem.StartDate" DateFormat="dd-MM-yyyy" Style="width:100%;box-shadow:none" />
        <ValidationMessage For="() => SelectedItem.StartDate"></ValidationMessage>
    </div>
    <div class="form-group">
        <label>End Date</label>
        <RadzenDatePicker TValue="DateTime?" @bind-Value="@SelectedItem.EndDate" DateFormat="dd-MM-yyyy" Style="width:100%;box-shadow:none" />
        <ValidationMessage For="() => SelectedItem.EndDate"></ValidationMessage>
    </div>
</InputForm>