@page "/"
@inject IJSRuntime jsRuntime
@using SOS.OrderTracking.Web.Shared.ViewModels.WorkOrder.Dashboard
@using SOS.OrderTracking.Web.Client.Services.Admin
@inherits APICrudBaseV2<CustomerDashboardFormViewModel, CustomerDashboardListViewModel, int, BaseIndexModel, CustomerDashboardService>

@attribute [Authorize]
<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: calc(100vh - 320px); /* The height is 400 pixels */
        max-height: calc(100vh - 320px); /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }

    .card {
        box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108) !important;
        box-shadow: 0 3.2px 7.2px 0 var(--callout-shadow-color,rgba(0, 0, 0, .132)),0 .6px 1.8px 0 var(--callout-shadow-secondary-color,rgba(0, 0, 0, .108)) !important;
    }

    body {
        background-color: rgba(248,248,248,1) !important;
        background-color: rgba(var(--palette-neutral-2,248, 248, 248),1) !important;
    }

    .header-fixed.subheader-fixed .header {
        background-color: white !important;
    }

    .header-fixed.subheader-fixed .subheader {
        border-bottom: 1px solid #ddd;
    }
</style>


<!--begin::Subheader-->
<div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
    <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-2">
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                Dashborad
            </h5>
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>

        </div>
        <div class="d-flex align-items-center">
            <button class="btn btn-light-warning font-weight-bold ml-2">
                ....
            </button>
        </div>
    </div>
</div>

@if (Items != null)
{
    CustomerDashboardListViewModel item = new CustomerDashboardListViewModel();
    if (Items.Count() > 0)
        item = Items.First();
    <div class="d-flex flex-column-fluid mt-4">
        <!--begin::Container-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4">
                    <!--begin::Mixed Widget 1-->
                    <div class="card card-custom bg-gray-100 card-stretch gutter-b">
                        <!--begin::Header-->
                        <div class="card-header border-0 bg-danger py-5">
                            <h3 class="card-title font-weight-bolder text-white">Outgoing Shipments - Today</h3>

                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body p-0 position-relative overflow-hidden" style="background-color:white">

                            <!--begin::Stats-->
                            <div class="card-spacer mt-1">
                                <!--begin::Row-->
                                <div class="row m-0">
                                    <div class="col bg-light-danger px-6 py-8 rounded-xl mr-7 mb-7">
                                        <span class="svg-icon svg-icon-3x svg-icon-danger d-block my-2">
                                            <i class="fal fa-2x fa-hourglass-start text-danger "></i> <span class="bold font-size-h4 pl-3"> 0</span>
                                        </span>
                                        <a href="#" class="text-danger font-weight-bold font-size-lg">Approval Pending</a>
                                    </div>

                                    <div class="col bg-light-warning px-6 py-8 rounded-xl mb-7">
                                        <span class="svg-icon svg-icon-3x svg-icon-warning d-block my-2">
                                            <i class="fal fa-2x fa-history text-warning "></i> <span class="bold font-size-h4 pl-3">@item.WaitingForCrewOutgoing</span>
                                        </span>
                                        <a href="#" class="text-warning font-weight-bold font-size-h6 mt-2">Waiting for Crew</a>
                                    </div>
                                </div>
                                <!--end::Row-->
                                <!--begin::Row-->
                                <div class="row m-0">
                                    <div class="col bg-light-info px-6 py-8 rounded-xl mr-7">
                                        <span class="svg-icon svg-icon-3x svg-icon-info d-block my-2">
                                            <i class="fal fa-2x fa-truck-moving text-info "></i> <span class="bold font-size-h4 pl-3">@item.InTransitOutgoing</span>
                                        </span>
                                        <a href="#" class="text-info font-weight-bold font-size-h6 mt-2">In Transit</a>
                                    </div>
                                    <div class="col bg-light-success px-6 py-8 rounded-xl">
                                        <span class="svg-icon svg-icon-3x svg-icon-success d-block my-2">
                                            <i class="fal fa-2x fa-clipboard-check text-success "></i> <span class="bold font-size-h4 pl-3">@item.DeliveredOutgoing</span>
                                        </span>
                                        <a href="#" class="text-success font-weight-bold font-size-h6 mt-2">Delivered</a>
                                    </div>
                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Stats-->
                            <div class="resize-triggers"><div class="expand-trigger"><div style="width: 386px; height: 461px;"></div></div><div class="contract-trigger"></div></div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Mixed Widget 1-->
                </div>

                <div class="col-xl-4">
                    <!--begin::Mixed Widget 1-->
                    <div class="card card-custom bg-gray-100 card-stretch gutter-b">
                        <!--begin::Header-->
                        <div class="card-header border-0 bg-danger py-5">
                            <h3 class="card-title font-weight-bolder text-white">Incoming Shipments - Today</h3>

                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body p-0 position-relative overflow-hidden" style="background-color:white">

                            <div class="card-spacer mt-1">
                                <!--begin::Row-->
                                <div class="row m-0">
                                    <div class="col bg-light-danger px-6 py-8 rounded-xl mr-7 mb-7">
                                        <span class="svg-icon svg-icon-3x svg-icon-danger d-block my-2">
                                            <i class="fal fa-2x fa-hourglass-start text-danger "></i> <span class="bold font-size-h4 pl-3"> 0</span>
                                        </span>
                                        <a href="#" class="text-danger font-weight-bold font-size-lg">Approval Pending</a>
                                    </div>

                                    <div class="col bg-light-warning px-6 py-8 rounded-xl mb-7">
                                        <span class="svg-icon svg-icon-3x svg-icon-warning d-block my-2">
                                            <i class="fal fa-2x fa-history text-warning "></i> <span class="bold font-size-h4 pl-3">@item.WaitingForCrewIncoming</span>
                                        </span>
                                        <a href="#" class="text-warning font-weight-bold font-size-h6 mt-2">Waiting for Crew</a>
                                    </div>
                                </div>
                                <!--end::Row-->
                                <!--begin::Row-->
                                <div class="row m-0">
                                    <div class="col bg-light-info px-6 py-8 rounded-xl mr-7">
                                        <span class="svg-icon svg-icon-3x svg-icon-info d-block my-2">
                                            <i class="fal fa-2x fa-truck-moving text-info "></i> <span class="bold font-size-h4 pl-3">@item.InTransitIncoming</span>
                                        </span>
                                        <a href="#" class="text-info font-weight-bold font-size-h6 mt-2">In Transit</a>
                                    </div>
                                    <div class="col bg-light-success px-6 py-8 rounded-xl">
                                        <span class="svg-icon svg-icon-3x svg-icon-success d-block my-2">
                                            <i class="fal fa-2x fa-clipboard-check text-success "></i> <span class="bold font-size-h4 pl-3">@item.DeliveredIncoming</span>
                                        </span>
                                        <a href="#" class="text-success font-weight-bold font-size-h6 mt-2">Delivered</a>
                                    </div>
                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Stats-->
                            <div class="resize-triggers"><div class="expand-trigger"><div style="width: 386px; height: 461px;"></div></div><div class="contract-trigger"></div></div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Mixed Widget 1-->
                </div>
                 
            </div>
        </div>
    </div>

}