@page "/admin/atmcustodians"
@using SOS.OrderTracking.Web.Shared.ViewModels.ATM
@using SOS.OrderTracking.Web.Client.Components
@using Radzen.Blazor
@using SOS.OrderTracking.Web.Client.Services.Customers
@inject HttpClient Http

@inherits APICrudBaseV2<ATMCustodiansViewModel, ATMCustodiansListViewModel, int, BaseIndexModel, ATMCustodiansService>

<SubHeader Heading="ATM Custodian Allocation" RowsCount="@TotalRows" HideSearch="true">
</SubHeader>
<style>
    .bg-primary-o-20 {
        background-color: rgba(250,250,250, 0.5) !important;
    }

    .items-table tbody tr:nth-child(even) {
        background: whitesmoke;
    }

    .items-table tbody tr:nth-child(odd) {
        background: #FFF
    }

    .items-table thead tr th {
        border-bottom: solid 1px #a09f9f !important;
    }
</style>
<div class="row">
    @{
        var leftColumnsCount = AtmId > 0 ? 5 : 12;
    }
    <div class="col-@leftColumnsCount" style="border-right: 1px #e56464 dotted;">
        <FluentCard IsBusy="@IsTableBusy">
            <Notification Content="@Error" Type="NotificationCssClass.Danger"></Notification>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Items != null)
                    {
                        @foreach (var item in Items)
                        {
                            var color = item.ATMId == AtmId ? "#ccc" : "white";
                            <tr style="cursor:pointer;">
                                <td style="background-color:@color;" @onclick="() => { AtmId = item.ATMId; }" class="pl-4">@item.ATMId</td>
                                <td style="background-color:@color;" @onclick="() => { AtmId = item.ATMId; }">@item.Name</td>
                                <td style="background-color:@color;" @onclick="() => { AtmId = item.ATMId; }">@item.Address</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <EditForm Model="BaseIndexModel.CurrentIndex">
                <PaginationStrip @bind-Value="BaseIndexModel.CurrentIndex" TotalPages="TotalPages" TotalRows="TotalRows"></PaginationStrip>
            </EditForm>
        </FluentCard>
    </div>
    @if (AtmId > 0)
    {
        <div class="col-7">
            <ATMCustodianMembers Id="@AtmId"></ATMCustodianMembers>
        </div>
    }
</div>

