@page "/admin/crewcheckin"
@using SOS.OrderTracking.Web.Shared.ViewModels.Crew
@using SOS.OrderTracking.Web.Client.Components
@inject HttpClient Http
@using Radzen.Blazor
@using SOS.OrderTracking.Web.Client.Services.Admin
@inherits APICrudBaseV2<CrewAttendanceFormViewModel, CrewAttendanceListViewModel, int,CrewAttendanceAdditionalValueViewModel,CrewCheckinService>

<div class="subheader py-2 py-lg-4  subheader-solid" id="kt_subheader">
    <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-2">
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                Crew Checkin
            </h5>
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
            <div class="d-flex align-items-center" id="kt_subheader_search">
                <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">
                    @TotalRows Total
                </span>


            </div>
        </div>
        <div class="d-flex align-items-center">

            <EditForm Model="@this">
                <div class="ml-2">
                    <RadzenDatePicker TValue="DateTime" ShowTime="true" TimeOnly="true" DateFormat="HH:mm" @bind-Value="@CheckinTime" />
                </div>
            </EditForm>
            <EditForm Model="@this">
                <div class="ml-2">
                    <RadzenDatePicker TValue="DateTime?" @bind-Value="@AttendanceDate" Placeholder="Attendance Date" DateFormat="dd-MM-yyyy"/>
                </div>
            </EditForm>
            <a @onclick="()=> SelectAll()" class="btn btn-light-warning font-weight-bold ml-2">
                Select All
            </a>
            <a @onclick="()=> MarkAttendance()" class="btn btn-light-warning font-weight-bold ml-2">
                Checkin
            </a>
            @*<a @onclick="()=> OnItemClicked(0)" class="btn btn-light-warning font-weight-bold ml-2">
            Mark Attendance
        </a>*@
        </div>
    </div>
</div>


<FluentCard IsBusy="@IsTableBusy">
    <Notification Content="@Error" Type="@NotificationCssClass.Danger"></Notification>
    <table class="items-table">
        <thead>
            <tr>
                <th>Employee Code</th>
                <th> Name</th>
                <th>Address</th>
                <th>Contact Number</th>
                <th>CNIC</th>
                <th></th>
                <th>Present/Absent</th>
            </tr>
        </thead>
        <tbody>
            @if (Items != null)
            {
                @foreach (var item in Items)
                {
            <tr>
                <td>
                    @item.EmployeeCode
                </td>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.ContactNo</td>
                <td>@item.CNIC</td>
                <td></td>
                <td style="padding:2px; text-align:left">

                    <div class="checkbox-inline">
                        <label class="checkbox checkbox-lg checkbox-outline checkbox-success text-center ml-10  mb-8">
                            <input type="checkbox" @bind="@item.isChecked" />
                            <span></span>
                        </label>
                    </div>
                    @*<Input type="checkbox" class="btn btn-icon btn-light-danger btn-sm mr-20" checked="checked" style="cursor:pointer;" @onchange="(e) => MarkAttendance(e,item.RelationshipId)" />*@

                </td>
               
            </tr>
                }
            }

        </tbody>
    </table>
    <EditForm Model="BaseIndexModel.CurrentIndex">
        <PaginationStrip @bind-Value="BaseIndexModel.CurrentIndex" TotalPages="TotalPages" TotalRows="TotalRows"></PaginationStrip>
    </EditForm>
</FluentCard>


<InputForm Id="form1"
           SelectedItem="SelectedItem"
           IsBusy="IsModalBusy"
           Heading="Attendance Form"
           OnCancel="()=> SelectedItem = null"
           OnValidSubmit="OnFormSubmit">
    @*@if (SelectedItem.Id == 0)
        {*@
</InputForm>