@page "/admin/customers"
@using SOS.OrderTracking.Web.Shared.ViewModels
@using SOS.OrderTracking.Web.Client.Components

@inherits APICrudBase<OrganizationViewModel, OrganizationModel, int>
 
<SubHeader Heading="Customers" RowsCount="@TotalRows">
    <a @onclick="()=> OnItemClicked(0)" class="btn btn-light-warning font-weight-bold ml-2">
        Create new Customer
    </a>
</SubHeader>

<FluentCard IsBusy="@IsTableBusy">
    <Notification Content="@Error" 
                  Type="NotificationCssClass.Danger"></Notification>
    <table class="items-table">
        <thead>
            <tr>
                <th>Organization Id</th>
                <th>Short Name/Branch Code</th>
                <th>Full Name</th>
                <th>Address</th>
                <th>Contact No</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Items != null)
            {
                @foreach (var item in Items)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>@item.Code</td>
                        <td>@item.Name</td>
                        <td>@item.Address</td>
                        <td>@item.ContactNo</td>
                        <td></td>
                        <td style="padding:2px; text-align:right">
                            <a class="btn btn-icon btn-light-danger btn-sm mr-2" style="cursor:pointer;" @onclick="() => OnItemClicked(item.Id)">
                                <i class="flaticon2-pen"></i>
                            </a>

                            <a class="btn btn-icon btn-light-danger btn-sm mr-2" href='admin/crewmembers/@item.Id'>
                                <i class="fa fa-user-friends"></i>
                            </a>
                        </td>

                    </tr>
                }
            }

        </tbody>
    </table>
    <EditForm Model="CurrentIndex">
        <PaginationStrip @bind-Value="CurrentIndex" TotalPages="TotalPages" TotalRows="TotalRows"></PaginationStrip>
    </EditForm>
</FluentCard>

<InputForm Id="form1"
           SelectedItem="SelectedItem"
           IsBusy="IsModalBusy"
           Heading="Customer Form"
           OnCancel="()=> SelectedItem = null"
           OnValidSubmit="OnFormSubmit">

    <div class="form-group">
        <label>Organization Type<b class="text-danger">*</b></label>
        <InputSelectNumeric @bind-Value="SelectedItem.OrganizationType" class="form-control">
            <option>Select Organization Type</option>
            <option value="196">Bank</option>
            <option value="320">Bank Branch</option>
        </InputSelectNumeric>
        <ValidationMessage For="() => SelectedItem.OrganizationType"></ValidationMessage>
    </div>

    <div class="form-group">
        <label>Customer/Branch Code<b class="text-danger">*</b></label>
        <InputText @bind-Value="SelectedItem.Code" type="text" class="form-control" />
        <ValidationMessage For="() => SelectedItem.Code"></ValidationMessage>
    </div>

    <div class="form-group">
        <label>Customer Name<b class="text-danger">*</b></label>
        <InputText @bind-Value="SelectedItem.Name" type="text" class="form-control" />
        <ValidationMessage For="() => SelectedItem.Name"></ValidationMessage>
    </div>

    <div class="form-group">
        <label>Parent Organization<b class="text-danger">*</b></label>
        <Select2 @bind-Value="SelectedItem.ParentId" Datasource="ParentOrganizations" Id="ParentId" ModalId="form1"/>
        <ValidationMessage For="() => SelectedItem.ParentId"></ValidationMessage>
    </div>

    <div class="form-group">
        <label>Region<b class="text-danger">*</b></label>
        <Select2 @bind-Value="SelectedItem.RegionId" Datasource="Regions" Id="RegionId" ModalId="form1"/>
        <ValidationMessage For="() => SelectedItem.RegionId"></ValidationMessage>
    </div>

    <div class="form-group">
        <label>Area<b class="text-danger">*</b></label>
        <Select2 @bind-Value="SelectedItem.AreaId" Datasource="Areas" Id="AreaId" ModalId="form1"/>
        <ValidationMessage For="() => SelectedItem.AreaId"></ValidationMessage>
    </div>

    <div class="form-group">
        <label>Associated SOS CPC<b class="text-danger">*</b></label>
        <Select2 @bind-Value="SelectedItem.AssociatedSOSCPCId" Datasource="AssociatedSOSCPCs" 
                 Id="AssociatedSOSCPCId" ModalId="form1"/>
        <ValidationMessage For="() => SelectedItem.AssociatedSOSCPCId"></ValidationMessage>
    </div>

    <div class="form-group">
        <label>Associated Bank CPC<b class="text-danger">*</b></label>
        <Select2 @bind-Value="SelectedItem.AssociatedBankCPCId" Datasource="AssociatedBankCPCs" 
                 Id="AssociatedBankCPCId" ModalId="form1"/>
    </div>

    <div class="form-group">
        <label>Contact No<b class="text-danger">*</b></label>
        <InputText @bind-Value="SelectedItem.ContactNo" type="text" class="form-control" />
        <ValidationMessage For="() => SelectedItem.ContactNo"></ValidationMessage>
    </div>

    <div class="form-group">
        <label>Latitude<b class="text-danger">*</b></label>
        <InputNumber @bind-Value="SelectedItem.Lat" type="text" class="form-control" />
        <ValidationMessage For="() => SelectedItem.Lat"></ValidationMessage>
    </div>

    <div class="form-group">
        <label>Longitude<b class="text-danger">*</b></label>
        <InputNumber @bind-Value="SelectedItem.Long" type="text" class="form-control" />
        <ValidationMessage For="() => SelectedItem.Long"></ValidationMessage>
    </div>
    <div class="form-group">
        @*<InputFile OnChange="HandleFileSelected" />*@
    </div>
</InputForm>