@page "/admin/managegaurds"
@using SOS.OrderTracking.Web.Shared.ViewModels.Gaurds
@using SOS.OrderTracking.Web.Client.Components
@inject HttpClient Http
@using Radzen.Blazor
@using SOS.OrderTracking.Web.Client.Services.Gaurding
@inherits APICrudBaseV2<GaurdsAllocationFormViewModel, GaurdsAllocationListViewModel, int, GaurdsAllocationAdditionalValueViewModel, ManageGaurdsService>
@attribute [Authorize]

<SubHeader Heading="Manage Gaurds" RowsCount="@TotalRows">
    <ChildContent>
        @*<Select2Ajax AjaxUrl="v1/Common/SearchCustomers"
            Id="__Allbanks" @bind-Value="BankId"></Select2Ajax>*@
    </ChildContent>
</SubHeader>

<div class="row">
    @{
        var leftColumnsCount = BranchId > 0 ? 5 : 12;
    }

    <div class="col-@leftColumnsCount" style="border-right: 1px #e56464 dotted;">
        <EditForm Model="this">
            <div class="row ml-5">
                <div class="col-3">
                    <Select2Ajax AjaxUrl="v1/Common/SearchCustomers"
                                 ValueExpression="()=> MainCustomerId" ValueChanged="(val) => MainCustomerValue(val)" TValue="int" Id="_mainCustomer"></Select2Ajax>
                </div>
            </div>

        </EditForm>
        <FluentCard IsBusy="@IsTableBusy">

            <Notification Content="@Error" Type="NotificationCssClass.Danger"></Notification>
            @*<EditForm Model="@this">
                    <div class="row">
                        <div class="ml-5 col-4">
                            <Select2 @bind-Value="BankId" Datasource="Banks" Id="__bank"  />
                        </div>
                    </div>
                </EditForm>*@
            <table class="items-table">
                <thead>
                    <tr>
                        @*<th>Id</th>*@
                        <th>Branch Code</th>
                        <th>Branch Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Items != null)
                    {
                        @foreach (var item in Items)
                        {
                            var color = item.Id == BranchId ? "#ccc" : "white";
                            <tr>
                                @*<td @onclick="()=> { BranchId = item.Id; BranchName = item.BranchName; }">
                                        @item.Id
                                    </td>*@
                                <td style="background-color:@color;" @onclick="()=> { BranchId = item.Id; BranchName = item.BranchName; }">@item.BranchCode</td>
                                <td style="background-color:@color;" @onclick="()=> { BranchId = item.Id; BranchName = item.BranchName; }">@item.BranchName</td>
                                <td style="background-color:@color;" @onclick="() => { BranchId = item.Id; BranchName = item.BranchName; }">
                                    @if (item.TotalGaurdsRequired.GetValueOrDefault() > 0)
                                    {

                                        @*var colour = "";
                                            @for (int i = 0; i < item.ActiveGaurdsCount; i++)
                                            {
                                                colour = i < item.ActiveGaurdsCount ? "#42b542" : "#3493cf";

                                                <span style="font-size: 0.8rem; color:@colour" class="fas fa-circle mr-1"></span>
                                            }*@
                                    <span>@item.ActiveGaurdsCount.GetValueOrDefault()/@item.TotalGaurdsRequired</span> 
                                    }
                                    else
                                    {
    <span style="color: #d4951c; border: 1px #d4951c solid; padding: 2px 8px;border-radius: 20px;">Vacant</span>
}

                                </td>
                                @if (BranchId == 0)
                                {
                                    <td style="padding:2px; text-align:right">
                                        @*<a class="btn btn-icon btn-light-danger btn-sm mr-2" style="cursor:pointer;" @onclick="() => OnItemClicked(item.Id)">
                                                <i class="far fa-trash-alt"></i>
                                            </a>*@
                                        @*<a class="btn btn-icon btn-light-danger btn-sm mr-2" href='admin/crewmembers/@item.Id'>
                                                <i class="fa fa-user-friends"></i>
                                            </a>*@
                                        <a class="btn btn-icon btn-light-danger btn-sm mr-2" style="cursor:pointer;" @onclick="() => OnItemClicked(item.Id)">
                                            <i class="flaticon2-pen"></i>
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    }

                </tbody>
            </table>
            <EditForm Model="BaseIndexModel.CurrentIndex">
                <PaginationStrip @bind-Value="BaseIndexModel.CurrentIndex" TotalPages="TotalPages" TotalRows="TotalRows"></PaginationStrip>
            </EditForm>
        </FluentCard>
    </div>
    @if (BranchId > 0)
    {
        <div class="col-7">
            <Gaurd BranchName="@BranchName" BranchId="@BranchId"></Gaurd>
        </div>
    }
</div>
@*</InputForm>*@
<InputForm SelectedItem="SelectedItem"
           IsBusy="IsModalBusy"
           Heading="Gaurds Deployment Rules"
           OnCancel="() => { SelectedItem = null; ValidationError = null;}"
           Error="@ValidationError"
           OnValidSubmit="OnFormSubmit">
    @*<div class="form-group">
            <label>Gaurds:</label>
            <Select2 Datasource="AllGaurds" @bind-Value="SelectedItem.GaurdId" Id="__gaurds">
            </Select2>
        </div>*@
    <div class="form-group">
        <label>Shifts</label>
        <select class="form-control" @bind="SelectedItem.NoOfShifts">
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
    @{
        if (SelectedItem.NoOfShifts == 2)
            SelectedItem.NoOfGaurds = 4;
        else if (SelectedItem.NoOfShifts == 3)
            SelectedItem.NoOfGaurds = 6;
    }
    <div>
        <label>No Of Gaurds:</label>
        <label class="form-control">@SelectedItem.NoOfGaurds</label>
    </div>

</InputForm>
