@using SOS.OrderTracking.Web.Shared.CIT.Shipments 
<div class="timeline timeline-3">
    <div class="timeline-items">
        <div class="timeline-item">
            <div class="timeline-media">
                <img src="/assets/media/logos/3-cl.jpg">
            </div>
            <div class="timeline-content">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="mr-2">
                        <span class="text-danger text-hover-primary font-weight-bold">
                            @DomesticShipmentViewModel.PickupBranchName
                        </span>
                    </div>
                </div>
                <p class="p-0">
                    @DomesticShipmentViewModel.PickupBranchAddress
                </p>
            </div>
        </div>
        @foreach (var delivery in DomesticShipmentViewModel.Deliveries)
        {
            <div class="timeline-item">
                <div class="timeline-media">
                    <i class="fad fa-user-friends"></i>
                </div>
                <div class="timeline-content">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div>
                            <span @onclick="() =>ShowCrew.InvokeAsync(delivery.CrewId)" style="cursor:pointer;"
                                  class="text-danger font-weight-bold">
                                @delivery.CrewName
                            </span>
                            @{
                                var pickupTime = @delivery.PlanedCollectionTime?.Year == 1
                                    ? "--:--" : @delivery.PlanedCollectionTime?.ToString("dd/MM/yy HH:mm");
                            }
                            <span class="label label-light-warning font-weight-bolder label-inline mt-2">@pickupTime (expected)</span>

                        </div>
                        @* <div class="dropdown ml-2" data-toggle="tooltip" title="" data-placement="left" data-original-title="Quick actions">
                                <a href="#" class="btn btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ki ki-more-hor font-size-lg text-primary"></i>
                                </a>
                                <div class="dropdown-menu p-0 m-0 dropdown-menu-md dropdown-menu-right" style="">

                                    <ul class="navi navi-hover">

                                        <li class="navi-item">
                                            <a href="#" class="navi-link">
                                                <span class="navi-text">
                                                    <span><i class="fal fa-edit mr-2 text-dark-75"></i>Update</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="navi-item">
                                            <a href="#" class="navi-link">
                                                <span class="navi-text">
                                                    <span><i class="fal fa-trash-alt  mr-2 text-dark-75"></i>Delete</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="navi-item">
                                            <a href="#" class="navi-link">
                                                <span class="navi-text">
                                                    <span><i class="fal fa-trash-alt  mr-2 text-dark-75"></i>Add Crew</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>*@
                    </div>
                    <p class="p-0">
                        @delivery.PickupFrom
                    </p>
                </div>
            </div>
        }
        <div class="timeline-item">
            <div class="timeline-media">
                <i class="fa fa-plus gray"></i>
            </div>
            <div class="timeline-content">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="mr-2">
                        <button @onclick="ConsignmentDeliveryClicked" class="btn btn-clean text-dark-75 font-weight-bold">
                            Assign additional Crew
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-media">
                <img src="/assets/media/logos/3-cl.jpg">
            </div>
            <div class="timeline-content">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="mr-2">
                        <span class="text-danger font-weight-bold">
                            @DomesticShipmentViewModel.DropoffBranchName
                        </span>
                    </div>
                </div>
                <p class="p-0">
                    @DomesticShipmentViewModel.DropoffBranchAddress
                </p>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public DomesticShipmentViewModel DomesticShipmentViewModel { get; set; }
    [Parameter]
    public EventCallback ConsignmentDeliveryClicked { get; set; }
    [Parameter]
    public EventCallback<int?> ShowCrew { get; set; }
}
