@typeparam TFormViewModel
@typeparam TListViewModel
@typeparam TKey

@if (API.SelectedItem != null)
{
    <div class="offcanvas offcanvas-right p-10 offcanvas-on" style="z-index:@ZIndex">
        <div class="offcanvas-header d-flex align-items-center justify-content-between pb-7" kt-hidden-height="47" style="">
            <h4 class="font-weight-bold m-0">
                @Heading
            </h4>
            <a @onclick="@API.OnCancelClicked"
               class="btn btn-xs btn-icon btn-light btn-hover-warning">
                <i class="fal fa-lg fa-times"></i>
            </a>
        </div>
        @{
            var wrapper = API.IsModalBusy ? "overlay-wrapper" : "";
            var overlay = API.IsModalBusy ? "overlay overlay-block rounded" : "";
        }
        <div class="@overlay">

            <div class="@wrapper" style="min-height:150px;">
                <Notification Content="@API.ValidationError" Type="@NotificationCssClass.Danger"></Notification>
                <EditForm Model="API.SelectedItem" OnValidSubmit="API.OnFormSubmit" autocomplete="new-password">
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                    <ValidationSummary></ValidationSummary>
                    <!--end::Header-->
                    <!--begin::Content-->
                    <div class="offcanvas-content" id="@Id">
                        <!--begin::Wrapper-->
                        <div class="offcanvas-wrapper mb-5 scroll-pull scroll ps ps--active-y">
                            @ChildContent
                        </div>
                        @if (HasActionButtons)
                        {
                            <div class="offcanvas-footer">
                                <div class="text-right">
                                    <button type="submit" class="btn btn-warning" value="Save">Save</button>
                                    <button type="button" @onclick="@API.OnCancelClicked" class="btn btn-danger" value="Cancel">Cancel</button>
                                </div>
                            </div>
                        }
                        <!--end::Purchase-->
                    </div>
                </EditForm>
            </div>
            @if (API.IsModalBusy)
            {
                <div class="overlay-layer rounded bg-primary-o-20">
                    <div class="spinner spinner-primary"></div>
                </div>
            }
        </div>
    </div>
    <div class="offcanvas-overlay"></div>
}

@code{


    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Heading { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public int ZIndex { get; set; } = 500;

    [Parameter]
    public APICrudBase<TFormViewModel, TListViewModel, TKey> API { get; set; }

    [Parameter]
    public bool HasActionButtons { get; set; } = true;

}
